@use "../colors/colors" as *;
// ==> Global Rules <== //
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
  outline: none;
}
button {
  border: none;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
}

address {
  font-style: normal;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

//* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
// Magic Classes
.centering-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
.align-start {
  align-items: flex-start;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-center {
  align-self: center;
}
.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.bold {
  font-weight: bold;
}
.ratio-square {
  aspect-ratio: 1/1;
}
.yt-1 {
  transform: translateY(-1rem);
}
.yt-2 {
  transform: translateY(-1.5rem);
}
.yt-3 {
  transform: translateY(-2.5rem);
}
.yb-1 {
  transform: translateY(1rem);
}
.yb-2 {
  transform: translateY(1.5rem);
}
.yb-3 {
  transform: translateY(2.5rem);
}
.extra-bold {
  font-weight: 900;
}

.neon {
  text-shadow: 0px 0px 10px;
}

.circle {
  border-radius: 50%;
}

.radius-m {
  border-radius: 1.5rem;
}
.radius-s {
  border-radius: 0.5rem;
}
.radius-x {
  border-radius: 3rem;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.border-none {
  border: none;
}
.outline-none {
  outline: none;
}

.cloudy-bg {
  background: $gradient-cloudy;
}
.inherit-bg {
  background-color: inherit;
}
.green_gradient_bg {
  background: $gradient-green;
}
.red_gradient_bg {
  background: $gradient-red;
}
.blue_gradient_bg {
  background: $gradient-sky;
}
.sunny_gradient_bg {
  background: $gradient-sunny;
}
.transparent-bg {
  background: transparent;
}

.gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-bg {
  background-color: #555;
}
.line-bg {
  background-color: #777;
}

.black-bg {
  background-color: #000;
}

.white-bg {
  background-color: #fff;
}

.gold-bg {
  background-color: $gold;
}

.blue-bg {
  background-color: $sky;
}

.red-bg {
  background-color: #f00;
}

.green-bg {
  background-color: rgb(72, 255, 0);
}
.gray-bg {
  background-color: #ededed;
}

.transparent-bg {
  background-color: transparent;
}

.dark-box-shadow {
  box-shadow: 0px 12px 20px 0px #000, 0px 6px 6px 0px #000;
}
.light-box-shadow {
  box-shadow: 0px 12px 20px 0px #ccc, 0px 6px 6px 0px #ccc;
}

.gold-color {
  color: $gold;
}

.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.mouse-none {
  pointer-events: none;
}
.mouse-inherit {
  pointer-events: inherit;
}
.line-h-1 {
  line-height: 1.5;
}
.line-h-2 {
  line-height: 1.7;
}
.line-h-3 {
  line-height: 1.9;
}
.fit-cover {
  object-fit: cover;
}
.fit-contain {
  object-fit: contain;
}
.sticky-top {
  position: sticky;
  top: 0;
}
.b-0 {
  bottom: 0;
}
.t-0 {
  top: 0;
}
.l-0 {
  left: 0;
}
.t-0 {
  top: 0;
}
.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-fit {
  width: fit-content;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-30 {
  height: 30%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.smooth-2 {
  transition: 0.2s all ease-in-out;
}
.smooth-3 {
  transition: 0.3s all ease-in-out;
}
.smooth-4 {
  transition: 0.4s all ease-in-out;
}
.smooth-5 {
  transition: 0.5s all ease-in-out;
}

.txt-c {
  text-align: center;
}

.txt-e {
  text-align: end;
}
.txt-s {
  text-align: start;
}

.letter-s-1 {
  letter-spacing: 1px;
}

.letter-s-2 {
  letter-spacing: 2px;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.z_-1 {
  z-index: -1;
}
.z_1 {
  z-index: 1;
}
.z-10000 {
  z-index: 10000;
}
.z-100000 {
  z-index: 100000;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-0 {
  opacity: 0;
}
.t-50 {
  top: 50%;
}
.t-0 {
  top: 0;
}
.l-50 {
  left: 50%;
}
.l-0 {
  left: 0;
}
.r-0 {
  right: 0;
}
.b-0 {
  bottom: 0;
}
.translate-50 {
  transform: translate(-50%, -50%);
}
//margin
.m-auto {
  margin: 0 auto;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

//padding
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}
.pt-3 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}
.pb-3 {
  padding-bottom: 2rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 4rem;
}

// font size
.fs-x-small {
  font-size: 0.7rem;
}

.fs-small {
  font-size: 0.8rem;
}

.fs-b-small {
  font-size: 1.2rem;
}

.fs-med {
  font-size: 1.8rem;
}

.fs-x-med {
  font-size: 2.2rem;
}

.fs-large {
  font-size: 3rem;
}

.fs-x-large {
  font-size: 4rem;
}

//gap
.g-1 {
  gap: 0.5rem;
}

.g-2 {
  gap: 1rem;
}

.g-3 {
  gap: 3rem;
}

//colors
.cl-w {
  color: #fff;
}

.cl-b {
  color: #000;
}

.cl-m {
  color: $gold;
}

.cl-t {
  color: $text;
}

.cl-t2 {
  color: $text-2;
}

.cl-light-w {
  color: #ddd;
}

.cl-bl {
  color: $sky;
}

.cl-y {
  color: #ffe25a;
}

.cl-r {
  color: #f00;
}

.cl-g {
  color: #05ba05;
}
