$gradient-ocean: linear-gradient(90deg, #7bdfe6 0%, #5894a6 100%);
$gradient-cloudy: linear-gradient(90deg, #efefef 0%, #dedede 100%);
$gradient-sunny: linear-gradient(90deg, #ffe25a 0%, #ffa852 100%);
$gradient-river: linear-gradient(90deg, #2dc1e4 0%, #e8ecc7 100%);
$gradient-sky: linear-gradient(90deg, #2dc1e4 0%, #26a6c3 100%);
$gradient-dark: linear-gradient(90deg, #1a1a1a 0%, #454444);
$gradient-social: linear-gradient(90deg, #142e58 0%, #122341);
$gradient-green: linear-gradient(90deg, #1d9f86 0%, #1edeac);
$gradient-red: linear-gradient(90deg, #f00 0%, #ce0505);
$gradient_dark_portfolio: linear-gradient(90deg, #0f1214 0%, #2b2e32 100%);
$yellow: #ffe25a;
$main: #ffa852;
$gold: #ffa852;
$milk: #e8ecc7;
$ocean: #5894a6;
$sky: #2dc1e4;
$river: #7bdfe6;
$text: #bbb;
$text-2: #777;
$social-main: #61e9fe;
$social-alt-bg: #1c3969;
$portfolio_dark: #3d4147;
$portfolio_main: #2b2e32;
$movie-bg: linear-gradient(
  90deg,
  rgba(3, 2, 23, 1) 0%,
  rgba(25, 29, 64, 1) 50%,
  rgba(3, 2, 23, 1) 100%
);
$movies-main: #ce3692;
$movies-alt: #8099e9;
$khaled-main: #e4c590;
// social
//#25467b
//#142e58
//#122341
//#61e9fe
//#5270a6
//#1edeac
//#1d9f86
//#c02d36
